In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import swat

In [10]:
portnumber=5570
sess = swat.CAS("eeclxvm128b.unx.sas.com", 5570, authinfo="~/.authinfo", caslib="casuser")
sess

CAS('eeclxvm128b.unx.sas.com', 5570, 'sasdemo', protocol='cas', name='py-session-5', session='25d7e72a-0f3e-ae48-a5b7-077e7a3a3610')

In [9]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.008106 -0.538164  0.699961  1.369112
2013-01-02 -0.737332 -2.147010  0.548779  0.397055
2013-01-03  0.674146  0.274864  1.436233 -0.039104
2013-01-04 -1.684276  0.050181 -0.492504  1.459064
2013-01-05  0.046251 -0.450684  1.298351 -0.667264
2013-01-06  1.714816  1.371983  0.824435  0.434415

In [11]:
results = sess.upload(df)

NOTE: Cloud Analytic Services made the uploaded file available as table TMP2C3VUFKK in caslib CASUSER(sasdemo).
NOTE: The table TMP2C3VUFKK has been created in caslib CASUSER(sasdemo) from binary data uploaded to Cloud Analytic Services.

In [14]:
tbl = results.casTable
tbl.head()

Selected Rows from Table TMP2C3VUFKK

          A         B         C         D
0  0.008106 -0.538164  0.699961  1.369112
1 -0.737332 -2.147010  0.548779  0.397055
2  0.674146  0.274864  1.436233 -0.039104
3 -1.684276  0.050181 -0.492504  1.459064
4  0.046251 -0.450684  1.298351 -0.667264

In [15]:
tbl.columninfo()

[ColumnInfo]

   Column  ID    Type  RawLength  FormattedLength  NFL  NFD
 0      A   1  double          8               12    0    0
 1      B   2  double          8               12    0    0
 2      C   3  double          8               12    0    0
 3      D   4  double          8               12    0    0

+ Elapsed: 0.000403s, mem: 0.132mb

In [16]:
sumry = tbl.summary()
sumry

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT
0,A,-1.684276,1.714816,6.0,0.0,0.003618,0.021711,1.164271,0.475312,1.355528,6.777716,6.777638,32176.151987,0.007613,0.994220
1,B,-2.147010,1.371983,6.0,0.0,-0.239805,-1.438829,1.159117,0.473207,1.343552,7.062797,6.717758,-483.358310,-0.506765,0.633871
2,C,-0.492504,1.436233,6.0,0.0,0.719209,4.315254,0.686770,0.280373,0.471653,5.461836,2.358266,95.489631,2.565189,0.050328
3,D,-0.667264,1.459064,6.0,0.0,0.492213,2.953277,0.817659,0.333808,0.668567,4.796473,3.342833,166.119043,1.474539,0.200345

In [17]:
sess.terminate()